@model FreelanceTP.DomainModel.Quote

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteFinalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteFinalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteFinalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteFinalAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
